In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("cars.csv")
X = df.iloc[:,:-1].values #-- X-værdierne er vores input værdier. I dette tilfælde samles alle rækkerne pånær den sidste.
y = df.iloc[:,-1].values #-- y-værdierne er vores output som vi senere kan få modellen til at "forudse". I dette tilfælde, den sidste række.

In [3]:
def mpgToKpl(list):
    for i in range (len(list)):
        list[i][0] = round(list[i][0] * 0.425143707,2)

In [4]:
print(df)

      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]

In [9]:
mpgToKpl(X)
df.rename(columns={'mpg': 'kpl'}, inplace=True)
df['kpl'] = df['kpl'] * 0.42
print(df)

       kpl  cylinders  displacement horsepower  weight  acceleration  \
0     7.56          8         307.0        130    3504          12.0
1     6.30          8         350.0        165    3693          11.5
2     7.56          8         318.0        150    3436          11.0
3     6.72          8         304.0        150    3433          12.0
4     7.14          8         302.0        140    3449          10.5
..     ...        ...           ...        ...     ...           ...
393  11.34          4         140.0         86    2790          15.6
394  18.48          4          97.0         52    2130          24.6
395  13.44          4         135.0         84    2295          11.6
396  11.76          4         120.0         79    2625          18.6
397  13.02          4         119.0         82    2720          19.4

     model year  origin                   car name    klp    kpp
0            70       1  chevrolet chevelle malibu   7.56   7.56
1            70       1          buick skylark 320   6.30   6.30
2            70       1         plymouth satellite   7.56   7.56
3            70       1              amc rebel sst   6.72   6.72
4            70       1                ford torino   7.14   7.14
..          ...     ...                        ...    ...    ...
393          82       1            ford mustang gl  11.34  11.34
394          82       2                  vw pickup  18.48  18.48
395          82       1              dodge rampage  13.44  13.44
396          82       1                ford ranger  11.76  11.76
397          82       1                 chevy s-10  13.02  13.02

[398 rows x 11 columns]